ENVIRONMENT=production
DEBUG=false
DB_PROVIDER=postgres
DB_POSTGRES=postgresql://neondb_owner:npg_9FRUDo4PEdjz@ep-curly-surf-ajogyf38-pooler.c-3.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
